input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.ant-card .ant-card-body {
    padding: 0;
}

.fn-header {
    margin-left: 6px;
    font-size: .6em;
}

textarea.code {
    width: 200px;
    height: 60px;
    min-height: 30px;
    font-size: .6em;
    margin: 0 5px;
}

.workflow-node {
    min-width: 150px;
    max-width: 400px;
    cursor: crosshair;
    overflow: hidden;
    padding: 2px;
}

.workflow-node.collapsed {
    min-width: 150px;
    max-width: 150px;
}

.workflow-node .widgets .input-container {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workflow-node .widgets .input-container .ant-typography {
    font-size: .6em;
}

.workflow-node .widgets .input {
    text-align: right;
    border: none;
    margin-left: 2px;
    font-size: .6em;
    flex: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.workflow-node .widgets .ant-select-selection-item {
    font-size: .6em;
    line-height: 1.2;
    padding-inline-end: 0px;
    padding: 0;
}

.workflow-node .widgets .ant-select-arrow {
    font-size: .6em;
}

.workflow-node .widgets .ant-select-selector {
    padding: 0 4px;
    line-height: 1;
}

.workflow-node .widgets .ant-select-selector::after {
    line-height: unset;
}

.workflow-node .widgets .ant-select-arrow {
    display: none;
}

.workflow-node .widgets .ant-select {
    height: unset;
}

.workflow-node .widgets input.ant-select-selection-search-input {
    height: unset;
}

.workflow-node .widgets .ant-select-selection-item-remove svg {
    width: 8px;
    height: 8px;
}

.workflow-node .widgets .ant-select-selection-item-content {
    line-height: 1;
}

.workflow-node .widgets .ant-select-selection-item {
    height: 10px;
}

.workflow-node .collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workflow-node .title {
    font-size: .8em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workflow-node .collapsed .title {
    font-size: .8em;
    margin: 2px 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: max-content;
    width: 100%;
    overflow: hidden;
}

.workflow-node .title.type {
    flex: 1;
}

.workflow-node .title.value {
    flex: 2;
}

.workflow-node .title button.ant-btn {
    width: 15px;
    height: 15px;
    min-width: 15px;
    margin: auto 0;
}

.workflow-node button.ant-btn {
    width: 15px;
    height: 15px;
    min-width: 15px;
    margin: auto 0;
    line-height: unset;
    padding: unset;
}

.workflow-node button.ant-btn.prompt {
    margin: auto 0;
    width: unset;
    height: 18px;
    margin: 2px 0;
    vertical-align: top;
    line-height: .8;
}


.workflow-node button.ant-btn>span {
    font-size: .6em;
}

.workflow-node .ant-btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(.6);
}

.workflow-node .ant-input-group-addon {
    font-size: .6em;
    padding: 0 2px;
}

.workflow-node .ant-input {
    padding: 0 2px;
    text-align: right;
}

.workflow-node .ant-input-number-group-addon {
    font-size: .6em;
    padding: 0 2px;
}

.workflow-node input.ant-input-number-input {
    padding: 0 2px;
    text-align: right;
}

.workflow-node .inputs .input .label {
    font-size: .6em;
}

.workflow-node .outputs .output .label {
    font-size: .6em;
}

.workflow-node .widgets .prompt .ant-typography {
    font-size: .6em;
}

.workflow-node .widgets .prompt .ant-radio-button-wrapper {
    font-size: 10px;
    line-height: 1.2;
    height: 14px;
    padding: 0 4px;
}

.workflow-node .handles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workflow-node .handles .inputs {
    display: flex;
    flex-direction: column;
}

.workflow-node .handles .outputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.workflow-node .handles .outputs .output {
    display: flex;
    flex-direction: row;
}

.workflow-node .handles .inputs .input {
    display: flex;
    flex-direction: row;
}

.workflow-node.group .handles .inputs .input {
    justify-content: space-between;
}

.react-flow__node.react-flow__node-group {
    padding: 0;
    border: none;
    resize: both;
    z-index: -1 !important;
    background-color: rgba(0, 0, 0, 0.05);
}

.react-flow__node.react-flow__node-group.selectable.selected {
    box-shadow: none;
}

.react-flow__handle {
    position: relative;
    display: inline-block;
}

.workflow-node.resource .handles .inputs .react-flow__handle {
    background-color: #e6a857;
    border: 1px solid #e6a857;
}

.workflow-node.resource .handles .outputs .react-flow__handle {
    background-color: #e6a857;
    border: 1px solid #e6a857;
}

.workflow-node .handles .inputs .react-flow__handle {
    background-color: #22A7F0;
    border: 1px solid #22A7F0;
}

.workflow-node .handles .inputs .react-flow__handle.parameter {
    background-color: #e6a857;
    border: 1px solid #e6a857;
}

.workflow-node .handles .outputs .react-flow__handle.parameter {
    background-color: #e6a857;
    border: 1px solid #e6a857;
}

.workflow-node .handles .outputs .react-flow__handle {
    background-color: #22A7F0;
    border: 1px solid #22A7F0;
}

.workflow-node .handles .react-flow__handle:hover {
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.workflow-node .handles .react-flow__handle.parameter:hover {
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.workflow-node .handles .inputs .react-flow__handle.react-flow__handle-valid {
    background-color: #d0d0d0;
    border: 1px solid #d0d0d0;
}

.workflow-node.group {
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    min-width: 150px;
    min-height: 150px;
}

.control-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.react-flow__node.react-flow__node-group:has(.collapsed) {
    width: auto !important;
    height: auto !important;
}

.workflow-node .ant-tabs .ant-tabs-tab {
    font-size: 8px;
    padding: 2px;
    margin: 0 4px 0 0;
}

.workflow-node .ant-tabs .ant-tabs-nav {
    margin: 0 0 2px 0;
}
